$black-color: #000000;
$white-color: #ffffff;
$accent-color: #0050EF;
$text-color: #888888;
$caption-color: rgba(0, 0, 0, 0.65);
$date-color: #10B2D0;
$bg-main-color: #F6F9FF;
$bg-footer-color: #011846;

$montserrat-font: 'Montserrat', sans-serif;


$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;